
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s linear;
}
:root{
    --orange: #ff7a00;
    --main-color:#443;
    --light-color:#666;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
html{
    font-size: 65.2%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: #fff;
    padding: 8px 30px;
    border: 2px solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 500;
}
.btn:hover{
    background-color: rgba(255, 165, 0, 0.1);
    color: var(--orange);
}
section{
    padding: 2rem 9%;
}
/* .heading{
    padding: 10px 0;
    margin: 30px 0;
    font-size: 5rem;
    color: var(--main-color);
    text-align: center;
}
.heading span{

    color: #9f5c41 ;
} */
header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}
header .nav{
    display: flex;
    padding: 1.5rem 9%;
    background-color: #333;
    color: #fff;
}
header .nav div{
    margin: 0 8px;
}
header .nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 5px;
}
header .nav i{
    font-size: 1.5rem;
}
.header {
    display: flex;
    padding: 1.5rem 9%;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.header .logo img{
    height: 80px;
}
.header .navbar ul{
    display: flex;
    list-style: none;
}
.header .navbar ul li a{
    text-decoration: none;
    color: var(--light-color);
    margin: 0 10px;
    font-size: 1.7rem;
    font-weight: 500;
}
.header .navbar ul li a:hover{
    color:var(--orange);
    border-bottom: 2px solid var(--orange);
    padding-bottom: 3px;
}
.header .icons{
    font-size: 2rem;
    color: var(--light-color);
    display: flex;
}
.header .icons div{
    margin: 0 10px;
    cursor: pointer;
}
.header .icons div:hover{
    color: var(--orange);
}
.header .search-form {
    position: absolute;
    top: 105%;
    right: 7%;
    width: 50rem;
    height: 4.5rem;
    background-color: #FFF;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    z-index: 900;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 1.6rem;
    padding: 0 1.5rem;
}
.header .search-form label {
    font-size: 2rem;
    color: var(--light-color);
    padding-right: 2rem;
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--orange);
}
.login-form-container{
    position: fixed;
    top: -110%;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9900;
}
.login-form-container.active{
    top: 0;
}
.login-form-container form{
    margin: 2rem;
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    width: 50rem;
}
.login-form-container form h3{
    font-size: 3rem;
    color: var(--main-color);
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
}
.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    margin: 6px 0;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: 1.7rem;
    text-transform: none;
    outline: none;
}
.login-form-container form .box:focus{
    border: 1px solid var(--orange);
}
.login-form-container form #remember{
    margin: 2rem 0;
}
.login-form-container form label{
    font-size: 1.5rem;
}
.login-form-container form .btn{
    display: block;
    width: 100%;
}
.login-form-container form p{
    padding: 5px 0;
    font-size: 1.7rem;
    color: var(--light-color);
}
.login-form-container form p a{
    text-decoration: none;
    color: rgb(24, 124, 255);
}
.login-form-container form p a:hover{
    color: #333;
    text-decoration: underline;
}
.login-form-container #form-close{
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}
#menu-btn{
    display: none;
}

.home .slider{
    height: 70vh;
    margin-top: 15rem;
    background: url(../img/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.home .slider .content{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
}
.home .slider .content h3{
    text-transform: uppercase;
    padding-bottom: 3px;
    font-size: 4rem;
}
.home .slider .content p{
    font-size: 4rem;
    color: #f5f5f5;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0 , 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* .about .box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.about .box .image{
    flex: 1 1 42rem;
}
.about .box .image img{
    width: 90%;
    height: 450px;
    object-fit: cover;
    box-shadow: 25px 25px 0 10px var(--orange);
}
.about .box .content{
    flex: 1 1 42rem;

}
.about .box .content h2{
    font-size: 4rem;
    color: #333;
    line-height: 3.4rem;
    padding-bottom: 1rem;
}
.about .box .content p{
    font-size: 2rem;
    color: var(--light-color);
    margin: 20px 0;
    line-height: 2.8rem;
} */
.about .heading-content{
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: 1px solid rgb(194, 194, 194);
}
.about .heading-content h2{
    font-size: 3rem;
    color: var(--main-color);
    padding: 1rem;
}
.about .heading-content p{
    color: var(--main-color);
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
.about .content p{
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.about .content span {
    color: #000;
    font-weight: 500;
}
.about .content div{
    display: flex;
    align-items: center;
    padding: 2px 0;
    margin-left: 3rem;
}
.about .content div a{
    font-size: 1.8rem;
    color: #333;
    text-decoration: none;
}
.about .content div i{
    width: 20px;
    font-size: 0.8rem;
}
.about .content div a:hover{
    color: #5566fd;
    text-decoration: underline;
}
.product-container{
    background: #000;
    padding-bottom: 20px;
}
.product .heading{
    font-size: 2.8rem;
    padding: 1.5rem 0;
    margin-top: 20px;
    border-bottom: 2px solid #999;
    color: #fff;
    text-transform: uppercase;
}
.product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    padding-top: 20px;
}
.product .box-container .box{
    flex: 1 1 30rem;
    overflow: hidden;
    position: relative;
}

.product .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .box-container .box h3{
    position: absolute;
    top: 100%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.4rem;
    opacity: 0;
}
.product .box-container .box:hover h3{
    top: 50%;
    opacity: 1;
    transition-delay: .2s ;
}
.product .box-container .box::before{
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: .2s linear;
}
.product .box-container .box:hover::before{
    top: 0;
}

.link-youtube h2{
    /* text-align: center; */
    font-size: 2rem;
    padding: 3rem 0 ;
    margin-top: 1.5rem;
}
.link-youtube .box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.link-youtube .box .video{
    flex: 1 1 40rem;
}
.link-youtube .box .content{
    flex: 1 1 40rem;
}
.link-youtube .box .content p{
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.link-youtube .box .content div  {
    display: flex;
    align-items: center;
}
.link-youtube .box .content div i{
    font-size: 0.8rem;
    margin-left: 2rem;
    width: 15px;
}
.link-youtube .box .content div a{
    font-size: 1.8rem;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}
.link-youtube .box .content div a:hover{
    color: #5566fd;
    text-decoration: underline;
}

.contact h2{
    font-size: 2rem;
     text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
    line-height: 3rem;
}
.contact__box-container{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    flex-wrap: wrap;

}
.contact__box{
    height: 150px;
    flex: 1 0 30rem;
    margin: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0 , 0.2);
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
}
.contact__box i{
    font-size: 4rem;
    color: var(--orange);
}
.contact__box h3{
    font-size: 1.8rem;
    color: var(--main-color);
    margin: 20px 0;
}
.form__container {
    box-shadow: 0 3px 5px rgba(0, 0, 0 , 0.2);
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 20px;
    /* background: url(../img/book-bg.jpg)no-repeat;
    background-position: center;
    background-size: cover; */
}
.form__container form input, textarea{
    height: 45px;
    padding: 0 10px;
    margin: 20px 0;
    font-size: 1.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0 , 0.2);
    outline: none;
    border: none;
    color: #333;
}
.input__box{
    display: flex;
    justify-content: space-between;
}
.form__container form input[type="text"]{
    width: 49%;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0 , 0.2);
    border-radius: 5px; */
}
.form__container form input[type="email"]{
    width: 100%;
}
.form__container form textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    resize: none;
    overflow-y: auto;
}
.form__container form p{
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer{
    background-color: #222222;
    padding-top: 50px;
    margin-top: 50px;
}
.footer img{
    height: 80px ;
    display: flex;
    margin: 0 auto;
}
.border__top{
    border-top: 1px solid #fff;
    width: 50%;
    margin-bottom: 20px;
}
.border__bottom {
    border-top: 1px solid#fff;
    width: 50%;
    margin-top: 20px;
    margin-left: 50%;
}
.footer .box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box .content{
    flex: 1 1 35rem;
    
}
.footer .box .content h2{
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 0;
}
.footer .box .content a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 0.5rem 0;
}
.footer .box .content a:hover{
    color: var(--orange);
}
.footer .box .content a i{
    width: 25px;
}
.credit {
    font-size: 1.4rem;
    color: #fff;
    padding: 20px 0;
    border-top: 1px solid var(--light-color);
    text-align: center;
    margin-top: 30px;
}
.credit span{
    color: var(--orange);
}